<h2>Введіть новий пароль</h2>
<form action="/reset/<%= token %>" method="POST">
    <input name="password" type="password" placeholder="Новий пароль" required />
    <button type="submit">Змінити пароль</button>
</form>
